.vscode/
vendor/
.env
/Public/images/formations
/Public/images/categories
/Public/subtitles
/Public/files/formations
/Public/images/users/avatars/*
!/public/images/users/avatars/default.png
/Public/images/users/backgrounds/*
!/public/images/users/backgrounds/default.jpg
/Public/images/videos
/Public/videos/*
!/Public/videos/.htaccess